<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shi.effitask.dao.ScheduleConfigDao">

    <resultMap id="scheduleCFG" type="com.shi.effitask.pojo.entity.ScheduleConfigEntity">
        <result column="task_type" jdbcType="VARCHAR" property="taskType"/>
        <result column="schedule_limit" jdbcType="INTEGER" property="scheduleLimit"/>
        <result column="schedule_interval" jdbcType="INTEGER" property="scheduleInterval"/>
        <result column="max_processing_time" jdbcType="INTEGER" property="maxProcessingTime"/>
        <result column="max_retry_num" jdbcType="INTEGER" property="maxRetryNum"/>
        <result column="retry_interval" jdbcType="INTEGER" property="retryInterval"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="modify_time" jdbcType="BIGINT" property="modifyTime"/>
    </resultMap>

    <select id="getConfigByType"
            resultMap="scheduleCFG"
            parameterType="java.lang.String">
        SELECT
            *
        FROM
            `schedule_config`
        where
            task_type = #{taskType}
    </select>
    <select id="getScheduleConfigList" resultMap="scheduleCFG">
        select * from effi_task.schedule_config
    </select>
    <insert id="save"
            parameterType="com.shi.effitask.pojo.entity.ScheduleConfigEntity">
        INSERT INTO `schedule_config`(`task_type`,
                                     `schedule_limit`,
                                     `schedule_interval`,
                                     `max_processing_time`,
                                     `max_retry_num`,
                                     `retry_interval`,
                                     `create_time`,
                                     `modify_time`)
        VALUES (#{taskType}, #{scheduleLimit}, #{scheduleInterval}, #{maxProcessingTime},
                #{maxRetryNum}, #{retryInterval}, #{createTime}, #{modifyTime})
    </insert>

</mapper>
